{% block modal_view %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Inscrição por Área</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered ui-widget-content table-striped">
            <thead>

            <tr>
                <th class="aling-content">Área</th>
                <th class="aling-content" width="60px">Qtd. de Inscriação</th>
            </tr>
            </thead>
            <tbody>
            {% for insArea in area %}
                <tr>
                    <td class="aling-content">
                        {{ insArea.noArea }}
                    </td>
                    <td class="aling-content">
                        {{ insArea[1] }}
                        </td>
                    </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button aria-hidden="true" data-dismiss="modal" class="buttonAzul margim view-not">
            Voltar
        </button>
    </div>
{% endblock %}