{% extends "DatasusSisvsExpoEpiAdministrativoBundle::base.html.twig" %}

{% block body %}
    <div class="box">
        <strong class="title">Módulo Administrativo</strong>

        <div class="formulario">
            <div class="padding">
                <div class="span6">
                    <h2>Olá {{ app.user.getNome }}.</h2>

                    <p>Seja Bem Vindo(a) ao sistema SIEPI. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}