{% block modal_view %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Visualizar Vinculação: Modalidade / Tipo da Modalidade</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <h4>{{ entity.getNoModalidade }}</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                <span class="span">
                 {% if(entity.getCoTipoModalidade) %}
                     {{ entity.getCoTipoModalidade.getNoTipoModalidade }}
                 {% else %}
                     Nenhum registro vinculado.
                 {% endif %}
                </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button aria-hidden="true" data-dismiss="modal" class="buttonAzul margim view-not">
            Fechar
        </button>
    </div>
{% endblock %}