{% block modal_view %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Inscrição por Tema / Categoria</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered ui-widget-content table-striped">
            <thead>
            <tr>
                <th>Tema/Categoria</th>
                <th>Qtd. de Inscriação</th>
            </tr>
            </thead>
            <tbody>

            {% for insAreaTema in tema %}
                <tr>
                    <td>
                        {{ insAreaTema.noTema }}
                    </td>
                    <td>
                        {{ insAreaTema.total }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button aria-hidden="true" data-dismiss="modal" class="buttonAzul margim view-not">
            Voltar
        </button>
    </div>
{% endblock %}